<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col-sm-12">
                <div class="page-sub-header">
                    <h3 class="page-title">Edit Formation</h3>
                    <ul class="breadcrumb">
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card comman-shadow">
                <div class="card-body">
                    <form (submit)="onSubmit()">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title student-info">Formations Information <span><a href="javascript:;"><i
                                                class="feather-more-vertical"></i></a></span></h5>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Description <span class="login-danger">*</span></label>
                                    <input class="form-control" type="text" placeholder="Enter description" required
                                        [(ngModel)]="formation.description" name="description">
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>price<span class="login-danger">*</span></label>
                                    <input class="form-control" type="text" placeholder="" required
                                        [(ngModel)]="formation.price" name="price">
                                </div>
                            </div>

                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Start Date<span class="login-danger">*</span></label>
                                    <input class="form-control" type="date" placeholder="" required
                                        [(ngModel)]="formation.startDate" name="startDate">
                                </div>
                            </div>

                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>End Date </label>
                                    <input class="form-control" type="date" placeholder=""
                                        [(ngModel)]="formation.endDate" name="endDate">
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Beneficiaires </label>
                                    <input class="form-control" type="text" placeholder="" [(ngModel)]="formation.beneficiaires" name="beneficiaires">
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>formateur </label>
                                    <input class="form-control" type="text" placeholder=""
                                        [(ngModel)]="formation.formateur" name="formateur">
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="student-submit">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
